{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Space Hunters{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'game/style.css' %}">
</head>

<body class="game-body {% if not planet %}auth-body{% endif %}"
      style="background-image: url('{% static background|default:"game/backgrounds/bg1.jpg" %}');">

<div class="layout">

    {% if planet %}
    <!-- SIDEBAR -->
    <aside class="sidebar">
        <h2>🚀 Space Hunters</h2>

        <nav>
            <ul>
                <li><a href="{% url 'game:planet_detail' pk=planet.id %}">Home</a></li>
                <li><a href="{% url 'game:buildings' pk=planet.id %}">Budynki</a></li>
                <li><a href="{% url 'game:send_fleet' pk=planet.id %}">Flota</a></li>
                <li><a href="{% url 'game:fleet_list' pk=planet.id %}">Ruch floty</a></li>
            </ul>
        </nav>
    </aside>
    {% endif %}

    <!-- MAIN -->
    <div class="main">

    {% if planet %}
        <!-- TOPBAR -->
    <div class="topbar">

        <!-- RESOURCES -->
        <div class="resources">
            <div>Metal: {{ planet.metal }}</div>
            <div>Kryształ: {{ planet.crystal }}</div>
        </div>

        <!-- PLANET SWITCHER -->
        <div class="planet-switcher">
            <select onchange="location = this.value;">
                {% for p in user.planets.all %}
                    <option value="{% url 'game:planet_detail' pk=p.id %}"
                        {% if p.id == planet.id %}selected{% endif %}>
                        {{ p.name }} ({{ p.x }}:{{ p.y }})
                    </option>
                {% endfor %}
            </select>
        </div>

        <div>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Wyloguj</button>
            </form>
        </div>

    </div>
    {% endif %}

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- CONTENT -->
        <main class="content">
            {% block content %}
            {% endblock %}
        </main>

    </div>

</div>
<script>
    setTimeout(() => {
        document.querySelectorAll('.message').forEach(el => {
            el.style.opacity = '0';
            setTimeout(() => el.remove(), 300);
        });
    }, 3000);
</script>
</body>
</html>

