{% extends "game/base.html" %}

{% block title %}
{{ planet.name }}
{% endblock %}

{% block content %}

    <div class="dashboard">

        <!-- LEFT PANEL -->
        <div class="panel">
            <h2>{{ planet.name }}</h2>
            <p>Pozycja: [{{ planet.x }} : {{ planet.y }}]</p>
        </div>

            <!-- BUILDINGS -->
        <div class="panel">
            <h3>Budynki</h3>

            <!-- METAL MINE -->
            <div class="building">
                <div>
                    Kopalnia metalu [poziom {{ planet.metal_mine_level }}]
                </div>

                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="building" value="metal_mine">
                    <button type="submit">Ulepsz</button>
                </form>
            </div>

            <!-- CRYSTAL MINE -->
            <div class="building">
                <div>
                    Kopalnia kryształu [poziom {{ planet.crystal_mine_level }}]
                </div>

                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="building" value="crystal_mine">
                    <button type="submit">Ulepsz</button>
                </form>
            </div>
        </div>

    </div>


{% endblock %}
